<table>
    <tr>
        <td>ID</td>
        <td>ID KLIENTA</td>
        <td>KWOTA</td>
        <td>NIP</td>
        <td><button class = "add" (click) = "addFaktura()">DODAJ</button></td>
    </tr>
    <tr *ngFor = "let faktura of faktury">
        <td>{{faktura.id}}</td>
        <td><input type="text" [(ngModel)] = "faktura.klientId"></td>
        <td><input type="text" [(ngModel)] = "faktura.kwota"></td>
        <td><input type="text" [(ngModel)] = "faktura.nip"></td>
        <td>
            <button (click) = "removeFaktura(faktura)">USUŃ</button>
            <button class = "add" (click) = "editFaktura(faktura)">ZAPISZ</button>
        </td>
    </tr>
</table>

<p class = "tag">Wprowadź ID faktury, by wyświetlić przypisane do niej billboardy</p>
<div class = "search">
    <input type="text" [(ngModel)] = "searchID">
    <button (click) = "getBillboards()">Pokaż</button>
</div>

<table *ngIf = "showTable">
    <tr>
        <td>ID</td>
        <td>FAKTURA ID</td>
        <td>ADRES</td>
    </tr>
    <tr *ngFor = "let billboard of billboardy">
        <td>{{billboard.id}}</td>
        <td>{{billboard.faktura}}</td>
        <td>{{billboard.adres}}</td>
    </tr>
</table>