<table>
    <tr>
        <td>ID</td>
        <td>ID KLIENTA</td>
        <td>ID BILLBOARDU</td>
        <td>KWOTA</td>
        <td>NIP</td>
        <td><button style="background-color: #18A558;" (click) = "addFaktura()">DODAJ</button></td>
    </tr>
    <tr *ngFor = "let faktura of faktury">
        <td><input type="text" [(ngModel)] = "faktura.id"></td>
        <td><input type="text" [(ngModel)] = "faktura.klientId"></td>
        <td><input type="text" [(ngModel)] = "faktura.billboardId"></td>
        <td><input type="text" [(ngModel)] = "faktura.kwota"></td>
        <td><input type="text" [(ngModel)] = "faktura.nip"></td>
        <td><button (click) = "removeFaktura(faktura)">USUŃ</button></td>
    </tr>
</table>