<table>
    <tr>
        <td>ID</td>
        <td>FAKTURA ID</td>
        <td>ADRES</td>
        <td><button class = "add" (click) = "addBillboard()">DODAJ</button></td>
    </tr>
    <tr *ngFor = "let billboard of billboardy">
        <td>{{billboard.id}}</td>
        <td><input type="text" [(ngModel)] = "billboard.idf"></td>
        <td><input type="text" [(ngModel)] = "billboard.adres"></td>
        <td>
            <button (click) = "removeBillboard(billboard)">USUŃ</button>
            <button class = "add" (click) = "editBillboard(billboard)">ZAPISZ</button>
        </td>
    </tr>
</table>